
.filter-container {
    border: 1px solid black;
    width: 284px;
    height: 375px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px dashed #d1c9a0;
    background: #F9F7F2;
    margin-top: 20px;
}
.filter-text {
    width: 197px;
    margin-top: 36px;
    margin-left: 38px;
    margin-right: 49px;
    color: #4C4B49;
    align-self: stretch;
    font-family: "Inria Sans";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.quesrion-score {
    width: 196px;
    margin-top: 36px;
    margin-left: 38px;
    margin-right: 50px;
}

.question-score-text {
    width: 104px;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    font-weight: 400;
}

.score {
    width: 196px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.all-text {
    width: 41.5px;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #4C4B49;
    background: #4C4B49;
    color: #F9F7F2;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
}

.score-num1 {
    width: 41.5px;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #F4D150;
    background: #FEEEB4;
    color: #1F1E1C;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
}

.questions-attempted-div {
    width: 206px;
    height: 99px;
    margin-top: 48px;
    margin-left: 38px;
    margin-right: 40px;
    margin-bottom: 60px;

}

.questions-attempted-text {
    width: 148px;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    font-weight: 400;
}

.questions-attempted {
    width: 206px;
    margin-top: 16px;
    display: flex;
}

.all-que {
    width: 67px;
    padding: 6px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 54px;
    border: 1px solid #4C4B49;
    background: #4C4B49;
    color: #F9F7F2;
    font-family: "Inria Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    flex-direction: column;
}

.attempted-que {
    width: 109px;
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 54px;
    border: 1px solid #F4D150;
    background: #FEEEB4;
    color: var(--Dark-a, #1F1E1C);
    font-family: "Inria Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}

.unattempted-que {
    width: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    flex-direction: column;
    border-radius: 54px;
    border: 1px solid #F4D150;
    background: #FEEEB4;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 6px;
}
/* Destop-view height */
.mobile-filter-text{
    display: none;
}
/* Mobile-view height */
@media (max-width: 576px){
    .filter-container{
        display: none;
    }
    .timer-filter-text{
        width: 100%;
        margin: auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }
    .mobile-only{
        border: 1px solid black;
        width: 104px;
        height: 39px;
        margin-top: 67px;
        margin-bottom: 75px;
        display: flex;
        justify-content: space-between;
        border-radius: 6px;
        border: 2px solid #E0DFDA;
        background: #FCFAFA;
    }
    .mobile-filter-line{
        width: 17px;
        height: 19px;
        margin: auto;
    }
    .border-line1{
        width: 16px;
        border: 1px solid #777671;
        margin: auto;
        border: 1px solid #777671;
        margin-left: 0.5px;
        margin-right: 0.5px;
    }
    .border-line2{
        width: 13px;
        margin-top: 5px;
        border: 1px solid #777671;
        margin-left: 2px;
        margin-right: 2px;
    }
    .border-line3{
        width: 10px;
        margin-top: 5px;
        border: 1px solid #777671;
        margin-left: 3.5px;
        margin-right: 3.5px;
    }
    .mobile-filter-text{
        width: 55px;
        height: 19px;
        margin: auto;
        color: #4C4B49;
        font-family: "Inria Sans";
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase
    }
    .mobile-filter-text{
        display: block;
    }

}