.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.previous-symbol {
    width: 28px;
    height: 28px;
    stroke-width: 1px;
}

.next-symbol {
    width: 28px;
    height: 28px;
    stroke-width: 1px;
}

.num1 {
    width: 30px;
    padding: 6px 10px;
    color: #FCFAFA;
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    gap: 16px;
    border-radius: 30px;
    border: 2px solid #E0DFDA;
    background-color: black;
    color: white;

}

.num {
    width: 30px;
    padding: 6px 10px;
    text-align: center;
    font-family: "Inria Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    gap: 16px;
    border-radius: 30px;
    border: 2px solid #E0DFDA;
}

.dote-space1 {
    display: none;
}

@media (max-width: 576px) {
    .pagination-container {
        width: 100%;
        height: 74px;
        margin: auto;
        gap: 26px;
    }

    .num1 {
        background: none;
        color: black;
    }

    .num5 {
        background-color: black;
        color: white;

    }

    .Mcq-container {
        width: 100%;
        margin: auto;
        padding: 20px;

    }

    .dote-space1 {
        display: block;
    }

}

@media (max-width: 576px) {
    .num2 {
        display: none;
    }

    .num3 {
        display: none;
    }

    .num4 {
        display: none;
    }

    .num6 {
        display: none;
    }

    .num7 {
        display: none;
    }
}