.timer-div {
    /* border: 1px solid black; */
    width: 152px;
    height: 180px;
    margin-left: 235px;
    margin-right: 57px;
    margin-top: 25px;
    text-align: center;
    position: absolute;
}

.time {
    display: flex;
    width: 150px;
    height: 149px;
    padding: 0px 0.896px 0.237px 0.896px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: conic-gradient(#EBE9E6 0deg 300deg, #E68086 300deg 360deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inside-div1 {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0px 0.896px 0.237px 0.896px;
    background: #F9F7F2;
}

.inside-div2 {
    width: 74px;
    height: 50px;
    margin-top: 53px;
    margin-bottom: 39px;
    margin-left: 34px;
    margin-right: 34px;
    display: flex;
}

.col-div1 {
    width: 32px;
    height: 50px;
    margin-right: 5px;
}

.col-num1 {
    width: 32px;
    height: 29px;
    color: #E68086;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.col-min {
    width: 21px;
    height: 15px;
    margin: auto;
    margin-top: 6px;
    color: #1F1E1C;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;
}

.semicolon {
    width: 22px;
    height: 50px;
    color: #1F1E1C;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.col-div2 {
    width: 32px;
    height: 49px;
    margin-left: 6px;
}

.col-num2 {
    width: 30px;
    height: 28px;
    color: #E68086;
    font-family: "Inter";
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
}

.col-sec {
    width: 22px;
    height: 15px;
    margin: auto;
    margin-top: 6px;
    color: #1F1E1C;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;
}

.timer-text {
    width: 109px;
    height: 22px;
    margin: auto;
    color: #1F1E1C;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    margin-top: 12px;
}