.timer-filter-container {
    width: 284px;
    position: relative;
    top: -40px
}

.timer-container {
    margin: auto;
}

.timer {
    width: 141px;
    height: 141px;
    margin: auto;
    border-radius: 70px;
    text-align: center;
    display: flex;
    background: conic-gradient(#EBE9E6 0deg 300deg, #E68086 300deg 360deg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inside-div1 {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 70px;
    background: #F9F7F2;
    display: flex;
}

.timer-div1 {
    margin: auto;
    display: flex;
}

.timer-col1 {
    color: #E68086;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
}

.timer-text1 {
    margin-top: 6px;
    color: #1F1E1C;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;

}

.timer-col2 {
    margin: 0px 5px 0px 6px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
}

.timer-col3 {
    color: #E68086;
    font-family: "Inter";
    font-size: 23px;
    font-weight: 600;
}

.timer-text2 {
    margin-top: 6px;
    color: #1F1E1C;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 500;
}

.timer-text {
    width: 109px;
    height: 22px;
    margin: auto;
    color: #1F1E1C;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    margin-top: 12px;
}

@media (max-width: 576px) {
    .timer-filter-container {
        width: 100%;
        padding: 20px 20px 0px;
    }

    .timer-container {
        position: unset;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 58px;
        margin-top: 0;
    }

    .timer {
        width: 100px;
        height: 100px;
        border-radius: 52px;
    }

    .inside-div1 {
        width: 80px;
        height: 80px;
        border-radius: 41px;
    }

    .timer-col1 {
        font-size: 18px;
    }

    .timer-text1 {
        font-size: 12px;
        margin-top: 0px;
    }

    .timer-col2 {
        font-size: 18px;
        margin: 0px 2px 0px 2px;
    }

    .timer-col3 {
        font-size: 18px;
    }

    .timer-text2 {
        font-size: 12px;
        margin-top: 0px;
    }


    .timer-text {
        display: none;
    }

}