body {
  margin: auto;
}

.main-div {
  background-color: #EBE9E6;
}

.header {
  background-color: white;
}

.col1 {
  width: 112px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: auto;
  display: flex;
}

.Logo {
  width: 56px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.text-AQ {
  width: 48px;
  margin-top: 8px;
  float: left;
  color: #8F887C;
  font-family: "Josefin Sans";
  font-size: 28.736px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.437px;
  text-transform: uppercase;
}

.text-mcq {
  color: #4C4B49;
  font-family: "Inter";
  text-align: center;
  padding: 55px 0px 19px;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

.box-page {
  border: 1px solid white;
  width: 705px;
  margin-bottom: 143px;
  margin: auto;
  background-color: white;
}

.text-1 {
  color: #4C4B49;
  font-family: "Inter";
  margin-left: 117px;
  margin-right: 116px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 700;
}

.text-2 {
  color: #4C4B49;
  margin-left: 117px;
  margin-right: 116px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 16px;
}

.text-3 {
  margin-left: 117px;
  margin-right: 116px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #4C4B49;
}

.text-4 {
  margin-top: 8px;
  margin-left: 117px;
  margin-right: 116px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #4C4B49;
}

.text-5 {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 8px;
  margin-left: 117px;
  margin-right: 116px;
  color: #4C4B49;

}

b {
  color: #4C4B49;
  font-family: "Inter";
}

.border-line {
  border: 1px solid black;
  width: 620px;
  margin-top: 40px;
  margin-left: 43px;
  margin-right: 42px;
}

.button-box {
  border: 2px solid #F4D150;
  background-color: #FEEEB4;
  width: 159px;
  height: 54px;
  border-radius: 4px;
  box-shadow: 0px 4px 7px 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 39px;
  margin-bottom: 49px;
  margin-left: 273px;
  margin-right: 273px;
}

.button-box1 {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter";
  border: none;
  background-color: #FEEEB4;
}

.footer-container {
  border: 1px solid black;
  margin-top: 143px;
  padding-top: 46px;
  padding-bottom: 68px;
  background-color: #4c4b49;
  color: white;
}

h2 {
  text-align: center;
}

.footer-text {
  text-align: center;
}


@media (max-width: 576px) {
  .body {
    margin: auto;
  }

  .box-page {
    border: 1px solid white;
    width: 320px;
    margin: auto;
  }

  .button-box {
    margin: auto;
    margin-left: 80px;
    margin-right: 81px;
    margin-top: 39px;
    margin-bottom: 56px;
  }

  .text-1 {
    margin-top: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }

  .text-2 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 15px;
  }

  .text-3 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #4C4B49;
  }

  .text-4 {
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .text-5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .border-line {
    border: 1px solid black;
    width: 280px;
    margin-top: 53px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer-container {
    border: 1px solid black;
    margin-top: 143px;
    padding-top: 46px;
    padding-bottom: 68px;
    background-color: #4c4b49;
    color: white;
  }

  h2 {
    text-align: center;
  }

  .footer-text {
    text-align: center;
    font-size: 14px;
  }

}
/* 

@media (max-width: 576px) {
  .header-container{
    border: 1px solid black;
    width: 100%;
    background-color: white;
    margin: auto;
  }
  .header-row{
    border: 1px solid black;
    width: 576px;
    background: #FCFAFA;
    display: block;
  }

  .logo-pagination{
    border: 1px solid black;
    display: block;
  }

  .logo-container{
    width: 112px;
    margin: auto;
    margin-left: 241.5px;
    margin-right: 223.5px;
  }

  .assessment-container{
    display: none;
  }
  .footer-container {
    display: none;
  }
} */




/* mobile-only {
  display: none;
}
@media (max-width: 576px) {
  .mobile-only {
      display: block;
  }
}
.desktop-only {
  display: block;
}
@media (max-width: 576px) {
  .desktop-only {
      display: none;
  }
}

 */
