body{
    margin: auto;
    background-color: #EBE9E6;
}

/* .sub-main-page{
    border: 1px solid black;
    width: 705px;
} */

.sub-div{
    border: 1px solid black;
    width: 705px;
    height: 516px;
    margin: auto;
    margin-top: 103px; 
    background-color: white;
}



